<%- include('../partials/header'); %>

<!-- Main -->
<main class="main main-home">
    <div class="container">
        <h2 class="h2-title">Xbox Games API</h2>
        <p class="sample-api-p">This is a Games API made with out a database using an SAMPLE API to supply the data.</p>

        <img src="https://assets.xboxservices.com/assets/5c/40/5c404cd4-91fb-4d62-918d-9b3e7208c100.jpg?n=Accessories-Hub_Page-Hero-1084_852362_1920x720.jpg" class="" width="1120" alt="xbox">
        <hr>
        <p><span class="first-letter">Xbox</span> is a video game console and brand created by Microsoft. The first Xbox console was released in 2001 and has since been followed by several other models, including the Xbox 360, Xbox One, and Xbox Series X/S.

            Xbox consoles are designed to play video games and multimedia content, including movies and music. They can be connected to a TV or monitor and come with controllers for gameplay. Xbox consoles are also equipped with online features, allowing players to connect with each other and play games over the internet.
            
            In addition to hardware, the Xbox brand also encompasses an online gaming service called Xbox Live, which allows players to connect, play games together, and access exclusive content. Xbox Game Pass is another popular subscription service offered by Microsoft that provides access to a large library of games for a monthly fee.</p>
    </div>
</main>
<!-- End Main -->

<%- include('../partials/footer'); %>